USE [master]
GO
/****** Object:  Database [TerraForce]    Script Date: 2/8/2024 10:03:44 ******/
CREATE DATABASE [TerraForce]
 CONTAINMENT = NONE
 ON  PRIMARY
( NAME = N'TerraForce', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TerraForce.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON
( NAME = N'TerraForce_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TerraForce_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TerraForce].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TerraForce]
GO
/****** Object:  Table [dbo].[Asociacion]    Script Date: 2/8/2024 10:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asociacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_escuela] [int] NULL,
	[id_empresa] [int] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calles]    Script Date: 2/8/2024 10:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NULL,
	[id_colonia] [int] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colonias]    Script Date: 2/8/2024 10:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colonias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NULL,
	[id_municipio] [int] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Convocatorias]    Script Date: 2/8/2024 10:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Convocatorias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](100) NULL,
	[descripcion] [varchar](1000) NULL,
	[requisitos] [varchar](500) NULL,
	[fecha_inicio] [date] NULL,
	[usuarios_registrados] [int] NULL,
	[id_estatus] [int] NULL,
	[id_empresa] [int] NULL,
	[id_tematica] [int] NULL,
	[imagen] [varbinary](max) NULL,
	[limite_usuarios] [int] NULL,
	[fecha_final] [date] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConvocatoriasEstatus]    Script Date: 2/8/2024 10:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConvocatoriasEstatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[estatus] [varchar](150) NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Correos]    Script Date: 2/8/2024 10:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Correos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[correo] [varchar](150) NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direcciones]    Script Date: 2/8/2024 10:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direcciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_estado] [int] NULL,
	[id_municipio] [int] NULL,
	[id_colonia] [int] NULL,
	[id_calle] [int] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 2/8/2024 10:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NULL,
	[id_correo] [int] NULL,
	[id_telefono] [int] NULL,
	[id_direccion] [int] NULL,
	[RFC] [varchar](20) NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Escuelas]    Script Date: 2/8/2024 10:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Escuelas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NULL,
	[id_direccion] [int] NULL,
	[id_telefonos] [int] NULL,
	[id_correos] [int] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 2/8/2024 10:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estatus]    Script Date: 2/8/2024 10:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipios]    Script Date: 2/8/2024 10:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NULL,
	[id_estado] [int] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 2/8/2024 10:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NULL,
	[apellidop] [varchar](150) NULL,
	[apellidom] [varchar](150) NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registros]    Script Date: 2/8/2024 10:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registros](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_voluntario] [int] NULL,
	[id_convocatoria] [int] NULL,
	[fecha] [date] NULL,
	[hora] [time](7) NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telefonos]    Script Date: 2/8/2024 10:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefonos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[telefono] [varchar](150) NULL,
	[id_tipo] [int] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tematicas]    Script Date: 2/8/2024 10:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tematicas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tematica] [varchar](150) NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposUsuarios]    Script Date: 2/8/2024 10:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposUsuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](150) NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoTelefonos]    Script Date: 2/8/2024 10:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoTelefonos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](150) NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 2/8/2024 10:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_persona] [int] NULL,
	[id_tipouser] [int] NULL,
	[correo] [varchar](150) NULL,
	[passwrd] [varchar](25) NULL,
	[id_empresa] [int] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voluntarios]    Script Date: 2/8/2024 10:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voluntarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_escuela] [int] NULL,
	[id_persona] [int] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Asociacion] ON

INSERT [dbo].[Asociacion] ([id], [id_escuela], [id_empresa]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[Asociacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Calles] ON

INSERT [dbo].[Calles] ([id], [nombre], [id_colonia]) VALUES (1, N'Avenida Paulista', 1)
INSERT [dbo].[Calles] ([id], [nombre], [id_colonia]) VALUES (2, N'Avenida Atlântica', 2)
INSERT [dbo].[Calles] ([id], [nombre], [id_colonia]) VALUES (3, N'Avenida Cristóvão Colombo', 3)
SET IDENTITY_INSERT [dbo].[Calles] OFF
GO
SET IDENTITY_INSERT [dbo].[Colonias] ON

INSERT [dbo].[Colonias] ([id], [nombre], [id_municipio]) VALUES (1, N'Jardim Paulista', 1)
INSERT [dbo].[Colonias] ([id], [nombre], [id_municipio]) VALUES (2, N'Copacabana', 2)
INSERT [dbo].[Colonias] ([id], [nombre], [id_municipio]) VALUES (3, N'Savassi', 3)
SET IDENTITY_INSERT [dbo].[Colonias] OFF
GO
SET IDENTITY_INSERT [dbo].[Convocatorias] ON

INSERT [dbo].[Convocatorias] ([id], [titulo], [descripcion], [requisitos], [fecha_inicio], [usuarios_registrados], [id_estatus], [id_empresa], [id_tematica], [imagen], [limite_usuarios], [fecha_final]) VALUES (1, N'Convocatoria São Paulo', N'Descripción São Paulo', N'Requisitos São Paulo', CAST(N'2024-07-01' AS Date), 10, 1, 1, 1, NULL, 40, CAST(N'2025-01-25' AS Date))
INSERT [dbo].[Convocatorias] ([id], [titulo], [descripcion], [requisitos], [fecha_inicio], [usuarios_registrados], [id_estatus], [id_empresa], [id_tematica], [imagen], [limite_usuarios], [fecha_final]) VALUES (2, N'Convocatoria Rio', N'Descripción Rio', N'Requisitos Rio', CAST(N'2024-07-02' AS Date), 20, 2, 2, 2, NULL, 40, CAST(N'2025-01-25' AS Date))
INSERT [dbo].[Convocatorias] ([id], [titulo], [descripcion], [requisitos], [fecha_inicio], [usuarios_registrados], [id_estatus], [id_empresa], [id_tematica], [imagen], [limite_usuarios], [fecha_final]) VALUES (3, N'Convocatoria Minas', N'Descripción Minas', N'Requisitos Minas', CAST(N'2024-07-03' AS Date), 30, 1, 3, 1, NULL, 40, CAST(N'2025-01-25' AS Date))
SET IDENTITY_INSERT [dbo].[Convocatorias] OFF
GO
SET IDENTITY_INSERT [dbo].[ConvocatoriasEstatus] ON

INSERT [dbo].[ConvocatoriasEstatus] ([id], [estatus]) VALUES (1, N'Abierta')
INSERT [dbo].[ConvocatoriasEstatus] ([id], [estatus]) VALUES (2, N'Cerrada')
SET IDENTITY_INSERT [dbo].[ConvocatoriasEstatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Correos] ON

INSERT [dbo].[Correos] ([id], [correo]) VALUES (1, N'ronaldo@ejemplo.com')
INSERT [dbo].[Correos] ([id], [correo]) VALUES (2, N'ronaldinho@ejemplo.com')
INSERT [dbo].[Correos] ([id], [correo]) VALUES (3, N'pele@ejemplo.com')
SET IDENTITY_INSERT [dbo].[Correos] OFF
GO
SET IDENTITY_INSERT [dbo].[Direcciones] ON

INSERT [dbo].[Direcciones] ([id], [id_estado], [id_municipio], [id_colonia], [id_calle]) VALUES (1, 1, 1, 1, 1)
INSERT [dbo].[Direcciones] ([id], [id_estado], [id_municipio], [id_colonia], [id_calle]) VALUES (2, 2, 2, 2, 2)
INSERT [dbo].[Direcciones] ([id], [id_estado], [id_municipio], [id_colonia], [id_calle]) VALUES (3, 3, 3, 3, 3)
SET IDENTITY_INSERT [dbo].[Direcciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Empresas] ON

INSERT [dbo].[Empresas] ([id], [nombre], [id_correo], [id_telefono], [id_direccion], [RFC]) VALUES (1, N'Empresa de Deportes São Paulo', 1, 1, 1, NULL)
INSERT [dbo].[Empresas] ([id], [nombre], [id_correo], [id_telefono], [id_direccion], [RFC]) VALUES (2, N'Empresa de Deportes Rio', 2, 2, 2, NULL)
INSERT [dbo].[Empresas] ([id], [nombre], [id_correo], [id_telefono], [id_direccion], [RFC]) VALUES (3, N'Empresa de Deportes Minas', 3, 1, 3, NULL)
SET IDENTITY_INSERT [dbo].[Empresas] OFF
GO
SET IDENTITY_INSERT [dbo].[Escuelas] ON

INSERT [dbo].[Escuelas] ([id], [nombre], [id_direccion], [id_telefonos], [id_correos]) VALUES (1, N'Escuela de Fútbol São Paulo', 1, 1, 1)
INSERT [dbo].[Escuelas] ([id], [nombre], [id_direccion], [id_telefonos], [id_correos]) VALUES (2, N'Escuela de Fútbol Rio', 2, 2, 2)
INSERT [dbo].[Escuelas] ([id], [nombre], [id_direccion], [id_telefonos], [id_correos]) VALUES (3, N'Escuela de Fútbol Minas', 3, 1, 3)
SET IDENTITY_INSERT [dbo].[Escuelas] OFF
GO
SET IDENTITY_INSERT [dbo].[Estados] ON

INSERT [dbo].[Estados] ([id], [nombre]) VALUES (1, N'São Paulo')
INSERT [dbo].[Estados] ([id], [nombre]) VALUES (2, N'Rio de Janeiro')
INSERT [dbo].[Estados] ([id], [nombre]) VALUES (3, N'Minas Gerais')
SET IDENTITY_INSERT [dbo].[Estados] OFF
GO
SET IDENTITY_INSERT [dbo].[Estatus] ON

INSERT [dbo].[Estatus] ([id], [nombre]) VALUES (1, N'Activo')
INSERT [dbo].[Estatus] ([id], [nombre]) VALUES (2, N'Finalizado')
SET IDENTITY_INSERT [dbo].[Estatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Municipios] ON

INSERT [dbo].[Municipios] ([id], [nombre], [id_estado]) VALUES (1, N'São Paulo', 1)
INSERT [dbo].[Municipios] ([id], [nombre], [id_estado]) VALUES (2, N'Rio de Janeiro', 2)
INSERT [dbo].[Municipios] ([id], [nombre], [id_estado]) VALUES (3, N'Belo Horizonte', 3)
SET IDENTITY_INSERT [dbo].[Municipios] OFF
GO
SET IDENTITY_INSERT [dbo].[Personas] ON

INSERT [dbo].[Personas] ([id], [nombre], [apellidop], [apellidom]) VALUES (1, N'Ronaldo', N'Augustus', N'Cicero')
INSERT [dbo].[Personas] ([id], [nombre], [apellidop], [apellidom]) VALUES (2, N'Ronaldinho', N'Tiberius', N'Seneca')
INSERT [dbo].[Personas] ([id], [nombre], [apellidop], [apellidom]) VALUES (3, N'Pelé', N'Nero', N'Claudius')
SET IDENTITY_INSERT [dbo].[Personas] OFF
GO
SET IDENTITY_INSERT [dbo].[Registros] ON

INSERT [dbo].[Registros] ([id], [id_voluntario], [id_convocatoria], [fecha], [hora]) VALUES (1, 1, 1, CAST(N'2024-07-01' AS Date), CAST(N'10:00:00' AS Time))
INSERT [dbo].[Registros] ([id], [id_voluntario], [id_convocatoria], [fecha], [hora]) VALUES (2, 2, 2, CAST(N'2024-07-02' AS Date), CAST(N'11:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Registros] OFF
GO
SET IDENTITY_INSERT [dbo].[Telefonos] ON

INSERT [dbo].[Telefonos] ([id], [telefono], [id_tipo]) VALUES (1, N'123456789', 1)
INSERT [dbo].[Telefonos] ([id], [telefono], [id_tipo]) VALUES (2, N'3312', 2)
INSERT [dbo].[Telefonos] ([id], [telefono], [id_tipo]) VALUES (3, N'123672131', 2)
SET IDENTITY_INSERT [dbo].[Telefonos] OFF
GO
SET IDENTITY_INSERT [dbo].[Tematicas] ON

INSERT [dbo].[Tematicas] ([id], [tematica]) VALUES (1, N'Fútbol')
INSERT [dbo].[Tematicas] ([id], [tematica]) VALUES (2, N'Entrenamiento')
SET IDENTITY_INSERT [dbo].[Tematicas] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposUsuarios] ON

INSERT [dbo].[TiposUsuarios] ([id], [tipo]) VALUES (1, N'ADMIN')
INSERT [dbo].[TiposUsuarios] ([id], [tipo]) VALUES (2, N'usuario')
INSERT [dbo].[TiposUsuarios] ([id], [tipo]) VALUES (3, N'empresa')
SET IDENTITY_INSERT [dbo].[TiposUsuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoTelefonos] ON

INSERT [dbo].[TipoTelefonos] ([id], [tipo]) VALUES (1, N'Móvil')
INSERT [dbo].[TipoTelefonos] ([id], [tipo]) VALUES (2, N'Fijo')
SET IDENTITY_INSERT [dbo].[TipoTelefonos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON

INSERT [dbo].[Usuarios] ([id], [id_persona], [id_tipouser], [correo], [passwrd], [id_empresa]) VALUES (1, 1, 2, N'ronaldoo@gmail.com', N'ronaldo123', NULL)
INSERT [dbo].[Usuarios] ([id], [id_persona], [id_tipouser], [correo], [passwrd], [id_empresa]) VALUES (2, 2, 2, N'gaucho@gmail.com', N'tiberius321', NULL)
INSERT [dbo].[Usuarios] ([id], [id_persona], [id_tipouser], [correo], [passwrd], [id_empresa]) VALUES (3, 3, 2, N'pele@gmail.com', N'pele123', NULL)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Voluntarios] ON

INSERT [dbo].[Voluntarios] ([id], [id_escuela], [id_persona]) VALUES (1, 1, 1)
INSERT [dbo].[Voluntarios] ([id], [id_escuela], [id_persona]) VALUES (2, 2, 2)
INSERT [dbo].[Voluntarios] ([id], [id_escuela], [id_persona]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[Voluntarios] OFF
GO
ALTER TABLE [dbo].[Asociacion]  WITH CHECK ADD FOREIGN KEY([id_empresa])
REFERENCES [dbo].[Empresas] ([id])
GO
ALTER TABLE [dbo].[Asociacion]  WITH CHECK ADD FOREIGN KEY([id_escuela])
REFERENCES [dbo].[Escuelas] ([id])
GO
ALTER TABLE [dbo].[Calles]  WITH CHECK ADD FOREIGN KEY([id_colonia])
REFERENCES [dbo].[Colonias] ([id])
GO
ALTER TABLE [dbo].[Colonias]  WITH CHECK ADD FOREIGN KEY([id_municipio])
REFERENCES [dbo].[Municipios] ([id])
GO
ALTER TABLE [dbo].[Convocatorias]  WITH CHECK ADD FOREIGN KEY([id_empresa])
REFERENCES [dbo].[Empresas] ([id])
GO
ALTER TABLE [dbo].[Convocatorias]  WITH CHECK ADD FOREIGN KEY([id_estatus])
REFERENCES [dbo].[ConvocatoriasEstatus] ([id])
GO
ALTER TABLE [dbo].[Convocatorias]  WITH CHECK ADD FOREIGN KEY([id_tematica])
REFERENCES [dbo].[Tematicas] ([id])
GO
ALTER TABLE [dbo].[Convocatorias]  WITH CHECK ADD  CONSTRAINT [FK_tematica] FOREIGN KEY([id_estatus])
REFERENCES [dbo].[Estatus] ([id])
GO
ALTER TABLE [dbo].[Convocatorias] CHECK CONSTRAINT [FK_tematica]
GO
ALTER TABLE [dbo].[Direcciones]  WITH CHECK ADD FOREIGN KEY([id_calle])
REFERENCES [dbo].[Calles] ([id])
GO
ALTER TABLE [dbo].[Direcciones]  WITH CHECK ADD FOREIGN KEY([id_colonia])
REFERENCES [dbo].[Colonias] ([id])
GO
ALTER TABLE [dbo].[Direcciones]  WITH CHECK ADD FOREIGN KEY([id_estado])
REFERENCES [dbo].[Estados] ([id])
GO
ALTER TABLE [dbo].[Direcciones]  WITH CHECK ADD FOREIGN KEY([id_municipio])
REFERENCES [dbo].[Municipios] ([id])
GO
ALTER TABLE [dbo].[Escuelas]  WITH CHECK ADD FOREIGN KEY([id_direccion])
REFERENCES [dbo].[Direcciones] ([id])
GO
ALTER TABLE [dbo].[Municipios]  WITH CHECK ADD FOREIGN KEY([id])
REFERENCES [dbo].[Estados] ([id])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[Empresas] ([id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_empresa]
GO
ALTER TABLE [dbo].[Voluntarios]  WITH CHECK ADD FOREIGN KEY([id_escuela])
REFERENCES [dbo].[Escuelas] ([id])
GO
ALTER TABLE [dbo].[Voluntarios]  WITH CHECK ADD FOREIGN KEY([id_persona])
REFERENCES [dbo].[Personas] ([id])
GO
/****** Object:  StoredProcedure [dbo].[sp_ingresarEmpresa]    Script Date: 2/8/2024 10:03:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ingresarEmpresa]
	@nombre VARCHAR(150),
	@RFC VARCHAR(20),
	@correo VARCHAR(150),
	@password VARCHAR(25),
	@fone VARCHAR(150),
	@estado INT,
	@municipio INT,
	@colonia INT,
	@calle INT

AS
BEGIN
	BEGIN TRANSACTION
	BEGIN TRY

		INSERT INTO Telefonos(telefono, id_tipo)
		VALUES (@fone, 2);
		DECLARE @id_fone INT
		SET @id_fone = SCOPE_IDENTITY()

		INSERT INTO Direcciones(id_estado, id_municipio, id_colonia, id_calle)
		VALUES (@estado, @municipio, @colonia, @calle)
		DECLARE @id_add INT
		SET @id_add = SCOPE_IDENTITY()

		INSERT INTO Correos (correo) VALUES (@correo)
		DECLARE @id_correo INT
		SET @id_correo = SCOPE_IDENTITY()

		INSERT INTO Empresas (nombre, id_correo, id_telefono, id_direccion, RFC)
		VALUES (@nombre, @id_correo, @id_fone, @id_add, @RFC)
		DECLARE @id_empresa INT
		SET @id_empresa = SCOPE_IDENTITY()


		INSERT INTO Usuarios (id_tipouser, correo, passwrd, id_empresa)
		VALUES (3, @correo, @password, @id_empresa)

	COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
ROLLBACK TRANSACTION;
DECLARE @ErrorMessage NVARCHAR(4000);
SET @ErrorMessage = ERROR_MESSAGE();
PRINT @ErrorMessage;
END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ingresarUsuario]    Script Date: 2/8/2024 10:03:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ingresarUsuario]
	@nombre VARCHAR(150),
	@apellidop VARCHAR(150),
	@apellidom VARCHAR(150),
	@correo VARCHAR(150),
	@password VARCHAR(25)
AS
BEGIN
	BEGIN TRANSACTION
	BEGIN TRY

		INSERT INTO Personas (nombre, apellidop, apellidom)
		VALUES (@nombre, @apellidop, @apellidom)

		DECLARE @idtipo INT
		DECLARE @idper INT
		SET @idtipo = 2
		SET @idper = SCOPE_IDENTITY()

		INSERT INTO Usuarios (id_persona, id_tipouser, correo, passwrd)
		VALUES (@idper, @idtipo, @correo, @password)
	COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
ROLLBACK TRANSACTION;
DECLARE @ErrorMessage NVARCHAR(4000);
SET @ErrorMessage = ERROR_MESSAGE();
PRINT @ErrorMessage;
END CATCH;
END;
GO
USE [master]
GO
