<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ icon }}">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="../static/CSS/index.css">
    <link  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container" id="alert">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-success" role="alert">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <div class="menuselection">
        <form action="/crud"  method="GET">
            <label for="tabla">Selecciona una tabla:</label>
            <select id="tabla" name="tablaselect">
                {% for tabla in tablas %}
                    <option value="{{ tabla }}">{{ tabla }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">OK</button>
        </form>
    </div>
    <div class="tabla">
    <h1 class="text-center" id="ht">Tabla actual: {{ tablaselect }}</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark" >
                <tr>
                    {% for nombre in column_names %}
                        <th>{{ nombre }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for fila in rows %}
                    <tr>
                        {% for campo in fila %}
                            <td>{{ campo }}
                            </td>
                        {% endfor %}
                    <td>
                    <td>
                        <div class="row">
                                <form action="/edit" method="GET" onsubmit="return obtenerID (this);">
                                    <input type="hidden" name="tablaselect" value="{{ tablaselect }}">
                                    <input type="hidden" name="id" value="{{ fila.id }}">
                                    <button type="submit" class="btn btn-primary" id="edit"></button>
                                </form>
                                <form action="/remove" method="GET" onsubmit="return obtenerID(this);">
                                     <input type="hidden" name="tablaselect" value="{{ tablaselect }}">
                                    <input type="hidden" name="id" value="{{ fila.id }}">
                                    <button type="submit" class="btn btn-danger" id="remove"></button>
                                </form>
                        </div>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="agg" >
    <form action="/agg" method="GET" onsubmit="return obtenerID (this);">
        <input type="hidden" name="tablaselect" value="{{ tablaselect }}">
        <button type="submit" class="btn btn-primary" id="agg" style="background: #2cb539; width: max-content; border: none" >Agregar nuevo registro</button>
    </form>
</div>
</div>
<h1>{{ palabrita }}</h1>
</body>
</html>