<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ icon }}">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="../static/CSS/index.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script>
        function agg() {
            document.getElementsByClassName("cajitaconmodales")[0].style.display = 'block'
        }
        function cerr() {
            document.getElementsByClassName("cajitaconmodales")[0].style.display = 'none'
        }
        function edit() {
            document.getElementsByClassName("cajitaconmodales2")[0].style.display = 'block'
        }
        function cerr2() {
            document.getElementsByClassName("cajitaconmodales2")[0].style.display = 'none'
        }
    </script>
</head>
<body>
<header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="{{ url_for('static', filename='images/tlogo.png') }}" style="cursor: pointer" onclick="volver()" alt="Logo" height="40px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" style="display: {% if usuario_logeado %}block{% else %}none{% endif %}">
                        <h2 class="nav-link">Hola! {{ nombre }}</h2>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                 <!-- los que tienen el block después del none, se ocultaran cuando el usuario esté loggeado -->
                    <li class="nav-item" style="display: {% if usuario_logeado %}none{% else %}block{% endif %}">
                        <a class="nav-link" href="/registro">Registro</a>
                    </li>
                    <li class="nav-item" style="display: {% if usuario_logeado %}none{% else %}block{% endif %}">
                        <a class="nav-link" href="/login">Iniciar sesión</a>
                    </li>
                    <li class="nav-item" style="display: {% if usuario_logeado %}none{% else %}block{% endif %}">
                        <a class="nav-link" href="/logout">Cerrar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Convocatorias">Convocatorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">Conócenos</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container" id="alert">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
</div>
    </header>

<div class="menuselection">
    <form action="/crud" method="GET">
        <label for="tabla">Selecciona una tabla:</label>

        <select id="tabla" name="tablaselect" class="selecccion" >
            {% for tabla in tablas %}
            <option value="{{ tabla }}" class="selecccion">{{ tabla }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">OK</button>
    </form>
</div>
<div class="tabla" id="t1">
    <h1 class="text-center" id="ht">Tabla actual: {{ tablaselect }}</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                {% for nombre in column_names %}
                <th>{{ nombre }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for fila in rows %}
            <tr>
                {% for campo in fila %}
                <td>{{ campo }}</td>
                {% endfor %}
                <td>
                    <div class="row">
                        <form action="/edit" method="GET" onclick="return (this)">
                            <input type="hidden" name="tablaselect" value="{{ tablaselect }}">
                            <input type="hidden" name="id" value="{{ fila.id }}">
                            <button class="btn btn-primary" id="edit"></button>
                        </form>
                        <form action="/remove" method="GET" onsubmit="return obtenerID(this);">
                            <input type="hidden" name="tablaselect" value="{{ tablaselect }}">
                            <input type="hidden" name="id" value="{{ fila.id }}">
                            <button type="submit" class="btn btn-danger" id="remove"></button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <button onclick="agg()" id="ag1" class="btn-primary" style="background: #2cb539; width: max-content; border: none;">Agregar nuevo registro</button>
</div>
<h1>{{ palabrita }}</h1>
<div class="cajitaconmodales">
    <div class="container-modal">
        <div class="content-modal">
            <p>Ingresa los datos para el nuevo registro de la tabla {{ tablaselect }}</p>
            <form action="/aggreg" method="POST" onsubmit="return valores(this);">
                <input type="hidden" name="tablaselect" value="{{ tablaselect }}">
                {% for nombret in column_names[1:] %}
                <input type="text" name="{{ nombret }}" placeholder="{{ nombret }}">
                {% endfor %}
                <div class="agg">
                    <br>
                    <button type="submit" class="btn-primary" id="agg" style="background: #2cb539; width: max-content; border: none;">Aceptar</button>
                </div>
            </form>
            <div class="btn-cerrar">
                <button class="btn-primary" onclick="cerr()" style="background: #c21a24" id="cer1">Cerrar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
