<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="icon" href="{{ icon }}">
    <title>{{ titulo }}</title>
    <link  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Tidulo convocatoria: {{ tituloconv }} </h1>
<h1>Tidulo convocatoria: {{ requisitos }} </h1>
<h1>Tidulo convocatoria: {{ fechainicio }} </h1>
<h1>Tidulo convocatoria: {{ fechacierre }} </h1>
<h1>Tidulo convocatoria: {{ vacantes }} </h1>
<h1>Tidulo convocatoria: {{ imagen }} </h1>
</body>
</html>