<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename=icon) }}">
    <title>{{ titulo }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/CSS/index.css">
    <style>
        .navbar-custom {
            background-color: #6FD557;
        }
        .card-custom {
            margin-top: 20px;
        }
        .card-header-custom {
            background-color: #6FD557;
            color: white;
        }
        .btn-register {
            background-color: #6FD557;
            color: white;
            margin-top: 20px;
        }
        .btn-delete {
            background-color: red;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="{{ url_for('static', filename='images/tlogo.png') }}" style="cursor: pointer" onclick="volver()" alt="Logo" height="40px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" style="display: {% if usuario_logeado %}block{% else %}none{% endif %}">
                        <a class="nav-link" href="{{ url_for('userhome') }}">Hola! {{ nombre }}</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="display: {% if usuario_logeado and tipouser==1 %}block{% else %}none{% endif %}">
                        <a class="nav-link" href="{{ url_for('HomeEmpresa') }}">Ir al HomeEmpresas</a>
                    </li>
                    <li class="nav-item" style="display: {% if usuario_logeado %}none{% else %}block{% endif %}">
                        <a class="nav-link" href="{{ url_for('registro') }}">Registro</a>
                    </li>
                    <li class="nav-item" style="display: {% if usuario_logeado %}none{% else %}block{% endif %}">
                        <a class="nav-link" href="{{ url_for('login') }}">Iniciar sesión</a>
                    </li>
                    <li class="nav-item" style="display: {% if usuario_logeado %}block{% else %}none{% endif %}">
                        <a class="nav-link" href="{{ url_for('logout') }}">Cerrar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('Convocatorias') }}">Convocatorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">Conócenos</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flashes">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="container my-5">
    <h2>Mis convocatorias:</h2>
    <br>
        {% for convo in results %}
        <div class="card card-custom">
            <div class="card-header card-header-custom">
                {{ convo.titulo }}
            </div>
            <div class="card-body">
                <h5 class="card-title">Creado por: {{ convo.empresa_nombre }}</h5>
                <p class="card-text">Temática: {{ convo.tematica }}</p>
                <p class="card-text">Requisitos: {{ convo.requisitos }}</p>
                <p class="card-text"><small class="text-muted">Fecha de cierre: {{ convo.fecha_final }}</small></p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailsModal{{ convo.id }}">
                    Más detalles
                </button>
                <button type="button" class="btn btn-delete" data-toggle="modal" data-target="#confirmModal{{ convo.id }}">
                    Borrar
                </button>
            </div>
        </div>

        <!-- Modal de detalles -->
        <div class="modal fade" id="detailsModal{{ convo.id }}" tabindex="-1" aria-labelledby="detailsModalLabel{{ convo.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="detailsModalLabel{{ convo.id }}">{{ convo.titulo }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5 class="card-title">Creado por: {{ convo.empresa_nombre }}</h5>
                        <p class="card-text">Temática: {{ convo.tematica }}</p>
                        <p class="card-text">Requisitos: {{ convo.requisitos }}</p>
                        <p class="card-text">Usuarios Registrados: {{ convo.usuarios_registrados }}</p>
                        <p class="card-text">Límite de Usuarios: {{ convo.limite_usuarios }}</p>
                        <p class="card-text">Fecha de Inicio: {{ convo.fecha_inicio }}</p>
                        <p class="card-text">Fecha de Finalización: {{ convo.fecha_final }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmModal{{ convo.id }}">Salir de la Convocatoria</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de confirmación -->
        <div class="modal fade" id="confirmModal{{ convo.id }}" tabindex="-1" aria-labelledby="confirmModalLabel{{ convo.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLabel{{ convo.id }}">Confirmar Saida</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de que deseas salir de la convocatoria? "{{ convo.titulo }}"?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <a href="{{ url_for('borrarConvo', idconvo=convo.id) }}" class="btn btn-danger">Confirmar</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <a href="{{ url_for('Convocatorias') }}" class="btn btn-register">Registrarse a una nueva convocatoria</a>
    </div>

    <script>
        function volver(){
            window.location.href='/'
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
