<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="icon" href="{{ icon }}">
    <title>{{ titulo }}</title>
    <link  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/CSS/index.css">

</head>
<body class="bodyin">
    <div class="container">
    <a href="/crud" class="btn btn-primary">CRUD</a>
    <a href="/about" class="btn btn-primary">Acerca de</a>

    </div>
</body>
</html>