<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ icon }}">
    <title>{{ titulo }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/index.css') }}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="{{ url_for('static', filename='images/tlogo.png') }}" style="cursor: pointer" onclick="volver()" alt="Logo" height="40px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" style="display: {% if usuario_logeado %}block{% else %}none{% endif %}">
                        <a class="nav-link" href="{{ url_for('userhome') }}">Hola! {{ nombre }}</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="display: {% if usuario_logeado and tipouser == 1 %}block{% else %}none{% endif %}">
                        <a class="nav-link" href="/Home">Ir al Home</a>
                    </li>
                    <li class="nav-item" style="display: {% if not usuario_logeado %}block{% else %}none{% endif %}">
                        <a class="nav-link" href="/registro">Registro</a>
                    </li>
                    <li class="nav-item" style="display: {% if not usuario_logeado %}block{% else %}none{% endif %}">
                        <a class="nav-link" href="/login">Iniciar sesión</a>
                    </li>
                    <li class="nav-item" style="display: {% if usuario_logeado %}block{% else %}none{% endif %}">
                        <a class="nav-link" href="/logout">Cerrar sesión</a>
                    </li>
                    <li class="nav-item" style="display: {% if usuario_logeado and tipouser == 1 %}none{% else %}block{% endif %}">
                        <a class="nav-link" href="/misconvocatorias">Mis Convocatorias</a>
                    </li>
                    <li class="nav-item" style="display: {% if usuario_logeado and tipouser == 1 %}block{% else %}none{% endif %}">
                        <a class="nav-link" href="/Convocatorias">Convocatorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">Conócenos</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container my-5">
        <h1 class="mb-4">Mis Convocatorias</h1>
        <div class="row">
            {% for convo in results %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ convo[1] }}</h5>
                            <p class="card-text">{{ convo[3] }}</p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailsModal{{ convo[0] }}">
                                Más detalles
                            </button>
                            <a href="/editarConvo/{{ convo[0] }}" class="btn btn-warning">Modificar</a>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="detailsModal{{ convo[0] }}" tabindex="-1" aria-labelledby="detailsModalLabel{{ convo[0] }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="detailsModalLabel{{ convo[0] }}">{{ convo[1] }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5 class="card-title">Creado por: {{ convo[8] }}</h5>
                                <p class="card-text">Temática: {{ convo[10] }}</p>
                                <p class="card-text">Requisitos: {{ convo[2] }}</p>
                                <p class="card-text">Usuarios Registrados: {{ convo[4] }}</p>
                                <p class="card-text">Límite de Usuarios: {{ convo[5] }}</p>
                                <p class="card-text">Fecha de Inicio: {{ convo[6] }}</p>
                                <p class="card-text">Fecha de Finalización: {{ convo[7] }}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmModal{{ convo[0] }}">Registrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        function volver(){
            window.location.href='/'
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
