<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ icon }}">
    <title>{{ titulo }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/CSS/index.css">
    <style>
        .left-column {
            background-image: url('../static/images/imagen Figma.jpg');
            background-size: cover;
            background-position: center;
            height: 135vh;
        }
        .right-column {
            background-image: url('../static/images/fondo.png');
            background-size: cover;
            background-position: center;
            height: 135vh;
        }
    </style>
</head>
<body>
    <div class="container-fluid min-vh-100 d-flex align-items-center">
        <div class="row w-100 no-gutters">
            <div class="col-md-6 left-column d-flex align-items-center justify-content-center">
            </div>




            <div class="col-md-6 right-column d-flex align-items-center justify-content-center">
                <form class="w-75">
                    <a href="/" class="btn-default"> Regresar </a>
                    <h1 class="mb-4">Registro de empresa</h1>

                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div class="alert-container">
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}">{{ message }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}


                    <div class="form-group">
                        <label for="nombre">Nombre de la empresa:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="RFC">RFC de la empresa:</label>
                        <input type="text" class="form-control" id="RFC" name="RFC" required>
                    </div>
                    <div class="form-group">
                        <label for="correo">Correo:</label>
                        <input type="email" class="form-control" id="correo" name="correo" required>
                    </div>

                    <div class="form-group">
                        <label for="telefono">Teléfono:</label>
                        <input type="phone" class="form-control" id="telefono" name="telefono" required>
                    </div>

                    <div class="form-group">
                        <label for="contrasena">Contraseña:</label>
                        <input type="password" class="form-control" id="contrasena" name="contrasena" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmar_contrasena">Confirmar contraseña:</label>
                        <input type="password" class="form-control" id="confirmar_contrasena" name="confirmar_contrasena" required>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Registrarse</button>
                    <p class="mt-3">¿No tienes una cuenta? <a href="/registro">Regístrate aquí.</a></p>
                    <p class="mt-3">¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>